{% extends "base.html.twig" %}

{% block title %}
    blogSymfony | Créer votre compte    
{% endblock %}

{% block body %}

<h1 class="display-4 fst-italic text-center my-5">Créer votre compte</h1>

{{ form_start(formRegistration, {'attr':{'class': 'col-md-4 mx-auto'}}) }}

        {{ form_row(formRegistration.prenom)}}
        {{ form_row(formRegistration.nom)}}
        {{ form_row(formRegistration.username, {'label':"Nom d'utilisateur :"}) }}
        {{ form_row(formRegistration.email)}}
        {{ form_row(formRegistration.password)}}
        {{ form_row(formRegistration.confirm_password)}}

        <button type="submit" class="btn btn-dark">Valider votre compte</button>

{{ form_end(formRegistration)}}        
    
{% endblock %}