{% extends "base.html.twig" %}

{% block title %}

    blogSymfony |
    
    {% if editMode %}
        Modification de l'article 
    {% else %}
        Nouvel article 
    {% endif %}       
    
{% endblock %}

{% block body %}
    
    <h1 class="display-4 fst-italic text-center">
    {% if editMode %}
        Modification de l'article :
    {% else %}
        Nouvel article :
    {% endif %}
    </h1>
    <div class="container">
    {# ouverture de la balise <form> + method="" + action=""  #}
    {{ form_start(formArticle)}}

        {{ form_row(formArticle.titre, {'label': "Titre de l'article :"})}}
        {{ form_row(formArticle.contenu, {'attr': {'rows' : 7},'label': "Contenu de l'article :"})}}
        {{ form_row(formArticle.image, {'label': "Image :"})}}

        <button type="submit" class="btn btn-dark mb-2 mt-2">

        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Enregistrer un nouvel article
        {% endif %}  

    {{ form_end(formArticle) }}

    {# <form action="" method="post">
    
    <label for="titre">Titre :</label>
    <input type="text" name="titre" placeholder="Titre de l'article"><br><br>
    
    <label for="contenu">Contenu :</label>
    <textarea name="contenu" id="contenu" cols="30" rows="5"></textarea><br><br>

    <label for="image">Image :</label>
    <input type="text" name="image" placeholder="url de l'image"><br><br>

    <input type="submit" value="Enregistrer">
    
    </form> #}

    </div>

{% endblock %}